{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="content authorization">
            <div class="auth main-container">

            </div>
            {% block sidebar %}

            {% endblock sidebar %}
        </div>
    </div>
{% endblock %}